<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update on Your Favorite Listing!</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 20px;
    }
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    a {
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Hi {{userName}},</h1>
  <p>There's an update on your favorite listing, "{{postTitle}}"!  
    You can check it out by clicking the link below:
  </p>
  <p><a href="https://dev-frontend.datnguyen2409.me/">View Listing Details</a></p>
  <p>Thanks,</p>
  <p>The BKRental Team</p>
</body>
</html>