
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deleted BKrental listing post</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 20px;
    }
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: normal;
    }

    span.user-name {
      font-weight: bold;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    .post-title {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h3>Dear <span class="user-name">{{userName}}</span>,</h3>
  <p>We happy to inform that you have successfully deleted the post <span class="post-title">"{{postTitle}}"!</span>  
    You can check it out by clicking the link below:
  </p>
  <p><a href="https://bkrental.datnguyen2409.me/">View Listing Details</a></p>
  <p>Thanks,</p>
  <p>The BKRental Team</p>
</body>
</html>